<div class="wagonners col-xs-offset-4 col-xs-4">
<h1> &nbsp &nbsp &nbsp Le Wagonners </h1>
<ul class="wagonners">
<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
  <li><h2><%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github}", class: 'img-circle', style: 'width: 50px'%> <%= user.name %></h2></li>
 <% end %>
<% end %>
</ul>
</div>
